@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Neusa-Regular";
  src: url("./assets/fonts/NeusaNextPro-CompactRegular.otf");
}

@font-face {
  font-family: "Neusa-Bold";
  src: url("./assets/fonts/NeusaNextPro-CompactMedium.otf");
}