@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Neusa-Regular";
  src: url("./assets/fonts/NeusaNextPro-CompactRegular.otf");
}

@font-face {
  font-family: "Neusa-Bold";
  src: url("./assets/fonts/NeusaNextPro-CompactMedium.otf");
}

@font-face {
  font-family: "IBM";
  src: url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap");
}

input[type='radio'] {
    accent-color: #003057;
}